:root {
  --interval-1: #e6261f;    // = 1 or 8ve
  --interval-2: #eb5a32;    // = m2
  --interval-3: #eb7532;    // = M2
  --interval-4: #f7b138;    // = m3
  --interval-5: #f7d038;    // = m3
  --interval-6: #a3e048;    // = p4
  --interval-7: #66e048;    // = T
  --interval-8: #49da9a;    // = P5
  --interval-9: #34bbe6;    // = m6
  --interval-10:#4355db;    // = M6
  --interval-11:#d23be7;    // = m7
  --interval-12:#e73b7c;    // = M7
}

